body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    background-color: pink;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 3px solid #978f34;
    border-radius: 10px;
}

input, select, button {
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}
